/* smartphone */
@media all and (max-width: 656px)
{

    .logo2 {
        display: flex;
    }
    /* Header */
    header {
        width: 100%;
        height: 73px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header nav ul li {
        display: none;
    }

    header nav ul li:last-child {
        display: flex;
        width: 170px;
        margin-left: 10%;
    }

    header .logo {
        width: 100%;
        margin-left: 20%;
    }

    #burger {
        display: flex;
        width: 12%;
        margin-left: 5%;
    }




    /* Section Bienvenue */
    #bienvenue{
        height: 100%;
    }

    #bienvenue article{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #bienvenue article h3{
        margin-top: 60px;
        margin-left: 0;
        width: 80vw;
    }

    #bienvenue article h1{
        font-size: 45px;
        margin-left: 0;
    }

    #bienvenue article p{
       width: 80vw;
       margin-left: 0;
    }
    #bienvenue article .orange{
        margin-left: 0;
        margin-bottom: 10vh;
        margin-top: 3vh;
    }

.souligne{
    background-size: 40%;
    background-position-x: 55%;
    background-position-y: 54%;
}

/* Section Nouveau */

    #nouveau{
        background-image: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #nouveau h3{
        padding-top: 5vh;
    }

    #nouveau h2{
        padding-top: 0.5vh;
    }
    #newcards {
        background: none;
    }

    #descriptions {
        position: relative;
        flex-wrap: nowrap;
        gap: 0;
        height: 400px;
    }

    #descriptions .cards{
        position: absolute;
    }
    /* ANIMATIONS CARDS NOUVEAU

    propriétés associées dans l'ordre:
    -animation-duration  10s
    -animation-timing-function  ease
    -animation-delay  0
    -animation-iteration-count   infinite
    -animation-direction    normal
    -animation-fill-mode    none
    -animation-play-state  running

    100%  3 items   100/3  33% par item
    1.5% d'arrivée, 30% visible immobile ,1.5% de départ

    */
    #newcards {
        background-image: none;
    }
    #newcards .cards:nth-child(1){
        animation: 20s ease 0s infinite normal none running animation-carte-1;
    }

    #newcards .cards:nth-child(2){
        animation: 20s ease 0s infinite normal none running animation-carte-2;
    }

    #newcards .cards:nth-child(3){
        animation: 20s ease 0s infinite normal none running animation-carte-3;
    }

    /*Mes keyframes :

    base 100%
    il y a 3 items  donc  100/3
    il y a donc 33.33% par item
    1.5% d'arrivée, 30.33% visible immobile ,1.5% de départ

    */
    @keyframes animation-carte-1 {
        0% { opacity: 0; transform: translateX(100%); }
        1.5% { opacity: 1; transform: translateX(0); }
        31.5% { opacity: 1; transform: translateX(0); }
        33% { opacity: 0; transform: translateX(-100%); }
        100% { opacity: 0; transform: translateX(-100%); }
    }
    @keyframes animation-carte-2 {
        0% { opacity: 0; transform: translateX(100%); }
        33% { opacity: 0; transform: translateX(100%); }
        34.5% { opacity: 1; transform: translateX(0); }
        64.5% { opacity: 1; transform: translateX(0); }
        66% { opacity: 0; transform: translateX(-100%); }
        100% { opacity: 0; transform: translateX(-100%); }

    }
    @keyframes animation-carte-3 {
        0% { opacity: 0; transform: translateX(100%); }
        66% { opacity: 0; transform: translateX(100%); }
        67.5% { opacity: 1; transform: translateX(0); }
        97.5% { opacity: 1; transform: translateX(0); }
        99% { opacity: 0; transform: translateX(-100%); }
        100% { opacity: 0; transform: translateX(-100%); }
    }

    #descriptions2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }

    #descriptions2 > .cards:hover{
        box-shadow: none;
    }

    #descriptions2 > .cards:hover img:nth-child(2){
        display: none;
    }

    #descriptions2 .cards{
        width: 80%;
        height: 180px;
        display: block;
    }

    #descriptions2 .cards figure{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #descriptions2 .cards figure figcaption{
        text-align: left;
    }

    #nouveau .orange{
        margin: 10px auto 50px;
    }



/* Section Voyage */

    #voyage{
        display: flex;
        flex-direction: column;
    }
    #conteneurvideo {
        display: flex;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: relative;
    }


    #voyage {
        background: none;
    }
    #voyage article{
        display: none;
    }

    .chef {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .chef img{
        width: 100%;
        height: 100%;
    }
    #imgdecal {
        display: flex;
        flex-direction: column;
        position: inherit;
        bottom: 0;
    }

    #conteneurvideo > img {
        border-radius: 0;
    }

    #conteneurvideo > img {
        border-radius: 0;
    }


/* Section Commande */
    #commande{
        display: block;
        padding: 5%;
        background:none;
        height: auto;
    }
    #commande a {
        width: auto;
    }
    #commande h3, #commande h2{
        text-align: center;

    }
    #commande h2{
        font-size: 40px;
    }
   #commande h3{
       padding-top: 80px;

   }
    #commande article {
        margin-left: 0;
    }

    #lienscontact figure p{
        display: flex;
        justify-content: flex-start;
    }
    #commande article .orange {
        display: block;
        margin: 10px auto 50px;
    }

    /* Section Contact */

    #contact {
        display: block;
        padding: 5%;
    }
    #contact h3{
        font-size: 14px;
        padding-top: 10px;
    }

    #contact h2{
        font-size: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #contact h2 span {
        display: none;
    }
    #contact h5{
        display: none;
    }
    #contactez-nous {
        box-shadow: none;
    }
    #imgform{
        display: none;
    }
    #contactleft{
        width: 100%;
    }
    #nomgauche input, #prenomdroite input {
        width: 100%;
    }
    #contactleft form {
        width: 80%;
    }

    #contactleft, #contactez-nous {
        height: auto;
    }
    #contactleft h4, #contactleft p{
        display: none;
    }



    #nomgauche,#prenomdroite {
        margin-bottom: 20px;

    }

    .nomprenom {
        max-width: 100%;
        margin: auto;

        display: block;
    }
    #submit {
        margin-top: 30px;
        margin-bottom: 50px;
    }




    /* footer */

    body > footer > p
    {
        display: none;
    }

    footer #foot1{
        display: none;
    }

    #foot{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }

    #foot2{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
    }

    #restaurantfoot{
        width: 100px;
        padding: 0;
        margin: 0;
    }

    #contactfoot{
        padding: 0;
        margin: 0;
        width: 100px;

    }

    #foot3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    #foot3 > img {
    width: 30%;
}
    #buttons {
        width: auto;
        gap: 20px;
        margin-bottom: 50px;
    }

    footer #foot4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: white;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    footer #foot4 img:first-child{
        margin-right: 10px;
    }

    footer #foot4 img{
        height: 60px;
        padding-bottom: 10px;
    }
    footer #foot4 p {
        font-size: 14px;
        margin-bottom: 25px;
    }



}


/* tablet */
@media all and (min-width: 657px) and (max-width: 1024px) {


    /* Header */
    header {
        width: 100%;
        height: 73px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header nav ul li {
        display: none;
    }

    header nav ul li:last-child {
        display: flex;
        width: 170px;
        margin-left: 10%;
    }

    header .logo {
        width: 100%;
        margin-left: 20%;
    }

    #burger {
        display: flex;
        width: 12%;
        margin-left: 5%;
    }
    /* background filet */
    #newcards {
        background-image: none;
    }

    #voyage h1 {
        font-size: 70px;
    }
    /* Contact */
    #contact {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10px;
    }

    #contact h3 {
        font-size: 14px;
        padding-top: 10px;
    }

    #contact h2 {
        font-size: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #contact h2 span {
        display: none;
    }

    #contact h5 {
        display: flex;
        text-align: center;
    }

    #contactez-nous {
        box-shadow: none;
    }

    #imgform {
        display: none;
    }

    #contactleft {
        width: 100%;
    }

    #nomgauche input, #prenomdroite input {
        width: 100%;
    }

    #contactleft form {
        width: 80%;
    }

    #contactleft, #contactez-nous {
        height: auto;
    }

    #contactleft h4, #contactleft p {
        display: none;
    }


    #nomgauche, #prenomdroite {
        margin-bottom: 20px;

    }

    .nomprenom {
        max-width: 100%;
        margin: auto;

        display: block;
    }

    #submit {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    #contact h5{
        display: none;
    }


}



























/* pc */
@media all and (min-width: 1025px) {
}