/* smartphone */
@media all and (max-width: 656px)
{


    /* Header */
    header {
        width: 100%;
        height: 73px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header nav ul li {
        display: none;
    }

    header nav ul li:last-child {
        display: flex;
        width: 170px;
        margin-left: 10%;
    }

    header .logo {
        width: 100%;
        margin-left: 20%;
    }

    #burger {
        display: flex;
        width: 12%;
        margin-left: 5%;
    }




    /* Section Bienvenue */
    #bienvenue{
        height: 100%;
    }

    #bienvenue article{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #bienvenue article h3{
        margin-top: 60px;
        margin-left: 0;
        width: 80vw;
    }

    #bienvenue article h1{
        font-size: 45px;
        margin-left: 0;
    }

    #bienvenue article p{
       width: 80vw;
       margin-left: 0;
    }
    #bienvenue article .orange{
        margin-left: 0;
        margin-bottom: 10vh;
        margin-top: 3vh;
    }

.souligne{
    background-size: 40%;
    background-position-x: 55%;
    background-position-y: 54%;
}

/* Section Nouveau */

    #nouveau{
        background-image: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #nouveau h3{
        padding-top: 5vh;
    }

    #nouveau h2{
        padding-top: 0.5vh;
    }
    #newcards {
        display: none;
    }

    #slideshow-container{
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    #slideshow-container .cards{
        height: 408px;
        width: 280px;
        text-align: center;
        border-radius: 24px;
        box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.5);
    }

    #slideshow-container figcaption{
        font: 500 18px/28px 'poppins-regular';
        color:#5e6282;
        text-align: center;
        padding: 20px;
    }

    #slideshow-container img{
        max-width: 100%;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }


    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
        height: 30rem;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    #descriptions2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }

    #descriptions2 > .cards:hover{
        box-shadow: none;
    }

    #descriptions2 > .cards:hover img:nth-child(2){
        display: none;
    }

    #descriptions2 .cards{
        width: 80%;
        height: 180px;
        display: block;
    }

    #descriptions2 .cards figure{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #descriptions2 .cards figure figcaption{
        text-align: left;
    }

    #nouveau .orange{
        margin: 10px auto 50px;
    }



/* Section Voyage */

    #voyage{
        display: flex;
        flex-direction: column;
    }
    #conteneurvideo {
        display: flex;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: relative;
    }


    #voyage {
        background: none;
    }
    #voyage article{
        display: none;
    }

    .chef {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .chef img{
        width: 100%;
        height: 100%;
    }
    #imgdecal {
        display: flex;
        flex-direction: column;
        position: inherit;
        bottom: 0;
    }


/* Section Commande */
    #commande{
        height: 100%;
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #commande h3, #commande h2{
        text-align: center;

    }
   #commande h3{
       padding-top: 80px;

   }
    #commande article {
        margin-left: 0;
    }

    #lienscontact figure p{
        display: flex;
        justify-content: flex-start;
    }
    #commande article .orange {
        display: block;
        margin: 10px auto 50px;
    }

    /* Section Contact */

    #contact {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contact h3{
        font-size: 14px;
        padding-top: 10px;
    }

    #contact h2{
        font-size: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #contact h2 span {
        display: none;
    }
    #contact h5{
        display: flex;
        text-align: center;
    }

    #contactez-nous {
        box-shadow: none;
    }
    #imgform{
        display: none;
    }
    #contactleft form{
        padding: 0 50px;
    }
    #contactleft, #contactez-nous {
        height: auto;
    }
    #contactleft h4, #contactleft p{
        display: none;
    }


    .nomprenom{
        display: block;
    }

    #nomgauche {
        margin-bottom: 20px;
    }

    #contactleft input{
        width: 412px;
    }

    #submit {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    /* footer */

    footer p{
        display: none;
    }

    footer #foot1{
        display: none;
    }










    /*footer #foot4{*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    width: 20%;*/
    /*    margin-top: -20px;*/
    /*}*/

    /*footer #foot4 img:first-child{*/
    /*    margin-right: 10px;*/
    /*}*/

    /*footer #foot4 img{*/
    /*    height: 60px;*/
    /*    padding-bottom: 10px;*/
    /*}*/

}


/* tablet */
@media all and (min-width: 657px) and (max-width: 1024px) {
}


/* pc */
@media all and (min-width: 1025px) {
}