
/* GENERAL */

*{
    list-style: none;
    text-decoration: none;
}

h1{
    font: 84px 'volkhov-bold';
    color: #ffffff;
}

button{
    font: 700 16px arial, sans-serif;
    color: #bfc0cd;
}

h2 {
    font: 50px 'volkhov-regular';
    color: #14183e;
}

li, a{
    font-family: 'poppins-regular', sans-serif;
}

/* HEADER */
header{
    background-color: #5bd7d7;
}




/* SECTION BIENVENUE */
#bienvenue{
    background-color: #ec9090;
}

#bienvenue h3{
    font: 400 20px 'poppins-bold';
    color: #df6951;
}

#bienvenue p{
    font: 500 16px/30px 'poppins-regular' ;
    color: #bfc0cd;
}




/* SECTION NOUVEAU */
#nouveau{
    background-color: #96e86f;
}

#nouveau h2{
    font: 50px 'volkhov-bold';
    color: #14183e;
}

#nouveau h3{
    font: 600 16px 'poppins-regular';
    color: #5e6282;
}

#newcards figcaption{
    font: 500 18px/28px 'poppins-regular';
    color:#5e6282
}

#makicards figcaption{
   font: 600 20px/28px 'open-sans-regular';
}

#makicards figcaption span{
    font: 500 16px/28px 'poppins-regular';
    color: #5e6282;
}



/*#maki p:first-child{*/
/*    font: 600 20px/28px open-sans-regular;*/
/*}*/

/*.card > p:nth-of-type(2) {*/
/*    font: 500 16px/28px 'poppins-regular';*/
/*}*/




/* SECTION VOYAGE*/
#voyage{
    background-color: #cc61de;
}

#voyage p{
    font: 500 16px/30px 'poppins-regular' ;
    color: #ffffff;
}



/* SECTION COMMANDE */
#commande{
    background-color: #64ec68;
}

#commande p:first-child{
    font: 500 16px 'poppins-bold';
    color: #22232c;

}

#commande a > p:nth-of-type(2){
    font: 500 16px 'poppins-regular';
    color: #3e3f43;
}

#commande h2{
    font: 50px 'volkhov-bold';
    color: #df6951;
}

#commande h2 span{
    color: #14183e;
}

#commande h3{
    font: 600 18px 'poppins-regular' ;
    color: #5e6282;
}





/* SECTION CONTACT */
#contact{
    background-color: #e0c65c;
}

#contact h2{
    font: 50px 'volkhov-bold';
    color: #14183e;
}
#contact h3{
    font: 600 18px 'poppins-regular';
    color: #5e6282;
}

#contact h4{
    font: 600 18px 'poppins-regular';
}

#contact p{
    font:500 14px/20px 'poppins-regular';
    color: #8d8d8d;
}

#contact label{
    font: 500 15px 'poppins-regular';

}

input {
    font: 500 13px 'poppins-regular';
    color: #989898;
}





/* FOOTER */
footer{
    background-color: #b658f1;
}

footer h4{
    font: 500 21px/31px 'poppins-bold';
}

footer p,a {
    font: 500 18px/26px 'poppins-regular';
    color: #5e6282;
}

footer > p:nth-of-type(3){
    font: 500 14px/21px 'poppins-regular';
    color: #5e6282;
}
